body.pending {
    visibility: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    overflow: hidden;
}

.doubleyue-trading-simulator {
    position: relative;
    padding: 10px;
	color: #f4eb49;
    background: #000000;
	border-color: #000000;
    border-width: 1px;
	border-style: solid;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

/* Sidebar */
.sidebar {
    width: 170px;
    height: 100vh;
    background: #232323;
    /* border-style: solid; */
    display: flex;
    text-align: center;
}
.sidebar-buttons {
    width: 100%;
    text-align: center;
}
.sidebar-buttons ul {
    list-style: none;
}
.sidebar-buttons ul li {
    list-style: none;
}
.sidebar-buttons .tab {
    text-decoration: none;
    display: list-item;
    /* background-color: aliceblue; */
    text-align: center;
    padding: 30px 20px;
    font-size: 20px;
    color:aliceblue;
    border: 2px solid #232323;
}
.sidebar-buttons .tab.active {
    color: #f4eb49;
    background-color: #000000;
    border: 2px solid yellow;
}
.sidebar-buttons .tab.active:hover {
    cursor: default;
}
.sidebar-buttons .tab.unactive:hover { /* cursor over link */
    cursor: pointer;
    background-color: #f4eb49;
    color: red;
    transition: 0.5s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Tab Content */
.tab-content {
    font-size: 40px;
    color: aliceblue;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 300px;
    right: 300px;
    top: 160px;
    bottom: 100px;
    /* background-color: red; */
} 
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}





/* Portfolio */
.tab-content #portfolio .portfolio-container {
    /* background-color: red; */
    padding: 20px;
    text-align: center;
    position: relative;
    top: -110px;
}
.balance {
    margin-bottom: 20px;
}
.balance h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.transactions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.transactions div {
    flex-basis: 33.33%;
}
.transactions h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #45a049;
}
#top-up-withdraw-input {
    margin-right: 10px;
    padding: 5px;
    width: 250px;
}

.tab-content #portfolio #portfolio-stock-table-container {
    background-color: white;
    display: block;
    position: relative;
    left: -90px;
    top: -100px;
    overflow-y: auto;
    width: 1100px;
    height: 450px;
}
#no-stock-holdings-description.unactive {
    display: none;
}
#no-stock-holdings-description.active {
    color: black;
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 30px;
}
#portfolio-stock-table {
    border: 2px solid rgb(84, 84, 84);
    background-color: white;
    color: black;
    font-size: 20px;
    position: absolute; 
    border-collapse: collapse;
    width: 100%;
    max-height: 100%;
    empty-cells: show;
}
#portfolio-stock-table th {
    border: 2px solid rgb(84, 84, 84);
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
}
#portfolio-stock-table td {
    /* background-color: red; */
    border: 2px solid rgb(84, 84, 84);
    vertical-align: middle;
    text-align: center;
    padding: 3px 8px;
}
#portfolio-stock-table tbody tr td:nth-child(2) {
    text-align: left;

    /* max-width: 300px;
    white-space: nowrap;
    overflow-x: auto; */
}
#portfolio-stock-table tbody tr :nth-child(3) {
    width: 60px;
}
#portfolio-stock-table tbody tr :nth-child(4) {
    width: 60px;
}
.portfolio-table-sellbutton {
    color: white;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}
.portfolio-table-sellbutton:hover {
    background-color: rgb(0, 128, 0, 0.5);
}



/* BackTesting */

.tab-content #backtesting {
    color: aliceblue;

    position: absolute;
    left: 30px;
    right: 30px;
    top: 16px;
    bottom: 14px;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border: 2px solid #00fbff;
    overflow: auto;
} 
.tab-content #backtesting .backtest-window .unactive[backtest-content] {
    display: none;
}
.tab-content #backtesting .backtest-window .active[backtest-content] {
    display: block;
}
.tab-content #backtesting .backtest-window [backtest-content] .partt {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #backtesting .backtest-window [backtest-content] .titlee {
    font-size: 40px;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #backtesting .backtest-window [backtest-content] .contentt {
    font-size: 25px;
    position: absolute;
    top: 130px;
    left: 100px;
    right: 100px;
    max-height: 290px;
    overflow: auto;
    /* text-align: center; */
    /* background-color: red; */
}
.tab-content #backtesting .backtest-window #backtest-back-button {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.tab-content #backtesting .backtest-window #backtest-next-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.tab-content #backtesting .backtest-window [backtest-buttons] {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    background-color: none;
    border: 2px solid white;
}
.tab-content #backtesting .backtest-window [backtest-buttons]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #backtesting .backtest-window [backtest-buttons]:active {
    background-color: rgb(255, 255, 255, 0.9);
}






/* Trade */
.tab-content #trade .trade-window {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 16px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: red; */
    padding: 30px 40px;
    border: 2px solid #00fbff;
}
.tab-content #trade .trade-window .title {
    /* background-color: red; */
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
.tab-content #trade .trade-window .options-container {
    /* background-color: blue; */
    position: absolute;
    left: 10%;
    right: 10%;
    top: 90px;
    bottom: 10%;
    font-size: 25px;
    max-height: 100%;
    overflow-y: auto;
}
.tab-content #trade .trade-window .options-container [trading-attr] {
    /* background-color: red; */
    margin: 0px 0px 20px 0px;
    position: relative;
    white-space: nowrap;
}
.tab-content #trade .trade-window .options-container [option-box] {
    all: unset;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    position: relative;
    width: 458px;
    padding: 2px 3px;
    margin: 0px;
}
.tab-content #trade .trade-window .options-container [option-box]:hover {
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #trade .trade-window .options-container [option-box]#searchInput {
    position: relative;
    left: 82.5px;
}
#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 20%;
    right: 30%;
    top: 300px;
    text-align: left;
    z-index: 1;
}
#searchResults option {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    border: 1px solid white;
    width: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#searchResults option:hover {
    background-color: rgba(154, 154, 154, 0.8);  
    overflow: visible;
}
.tab-content #trade .trade-window .options-container [option-box]#trade-options-size {
    position: relative;
    left: 96px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container [option-box]#trade-options-price {
    position: relative;
    left: 58.5px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container [option-box]#trade-options-stoploss {
    position: relative;
    left: 10.5px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container select[option-box]#Time-Frame {
    position: relative;
    left: 17px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container select[option-box]#stock-type {
    position: relative;
    left: 89.5px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container select[option-box]:hover {
    cursor: pointer;
}
.tab-content #trade .trade-window .options-container ::placeholder {
    /* color: #a7a7a7; */
    color: aliceblue;
}
.tab-content #trade .trade-window #confirm-order-button {
    position: relative;
    left: 450px;
    width: 150px;
    top: 115px;
}
.tab-content #trade .trade-window #view-chart-button {
    position: relative;
    width: 150px;
    top: 150px;
}
.tab-content #trade .trade-window .trade-window-buttons {
    text-align: center;
    font-size: 25px;
    border: 2px solid white;
    padding: 3px 8px;
}
.tab-content #trade .trade-window .trade-window-buttons:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #trade .trade-window .trade-window-buttons:active {
    background-color: rgb(255, 255, 255, 0.9);
}


/* Settings */
.tab-content #settings .settings-section {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: -100px;
    right: -220px;
    top: -80px;
    bottom: -100px;
}

.tab-content #settings .settings-section .headings {
    /* background-color: #00fbff; */
    border-bottom: 2px solid white;
    display: flex;
    position: absolute;
    width: 100%;
    height: 47px;
    top: 0px;
}

.tab-content #settings .settings-section .headings .change-password-headings {
    /* background-color: red; */
    position: absolute;
    left: 170px;
    display: flex;
    gap: 8px;
}
.tab-content #settings .settings-section .headings .change-password-headings #icon-arrow {
    /* background-color: red; */
    position: relative;
    bottom: -1px;
}
.tab-content #settings .settings-section .headings .unactive {
    display: none;
}

.tab-content #settings .settings-section .headings #icon-settings {
    font-size: 28px;
    /* background-color: red; */
    position: absolute;
    height: 40px;
    top: 0px;
}
.tab-content #settings .settings-section .headings #title-settings {
    position: absolute;
    left: 30px;
    height: 100%;
    bottom: 0px;
}

.tab-content #settings .settings-section .content .unactive {
    display: none;
}
.tab-content #settings .settings-section .content .default-page [buttons] {
    /* background-color: red; */
    position: absolute;
    left: 0px;
    right: 40px;
    border: 2px solid white;
    background-color: #000000;
    padding: 5px;
    font-size: 30px;
}
.tab-content #settings .settings-section .content [buttons]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #settings .settings-section .content [buttons]:active {
    background-color: rgb(255, 255, 255, 0.9);
}
.tab-content #settings .settings-section .content #change-password-button {
    top: 60px;
}
.tab-content #settings .settings-section .content #logout-button {
    top: 110px;
    color: red;
    border: 2px solid red;
    display: flex;
}
.tab-content #settings .settings-section .content #logout-button [icon] {
    position: absolute;
    left: 100px;
}
/* Settings - ChangePassword */
.tab-content #settings .settings-section .content .change-password-page .password-inputs {
    /* background-color: red; */
    display: block;
    position: absolute;
    top: 80px;
    right: 40px;
    left: 0px;
    text-align: right;
    font-size: 30px;
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input {
    all: unset;
    background-color: #000000;
    width: 70%;
    border: 2px solid white;
    text-align: left;
    padding: 0px 10px;
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input:hover {
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input::placeholder {
    color: #a7a7a7;
    position: absolute;
}
#change-password-page-back-button {
    position: absolute;
    bottom: 120px;
    border: 2px solid white;
    padding: 0px 10px;
}
#change-password-page-confirm-changes-button {
    position: absolute;
    bottom: 120px;
    right: 0px;
    border: 2px solid white;
    padding: 0px 10px;
}


/* Guide */
.tab-content #guide {
    font-size: 40px;
    color: aliceblue;

    position: absolute;
    left: 30px;
    right: 30px;
    top: 16px;
    bottom: 14px;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border: 2px solid #00fbff;
    overflow: auto;
} 
.tab-content #guide .guide-window .unactive[guide-content] {
    display: none;
}
.tab-content #guide .guide-window .active[guide-content] {
    display: block;
}
.tab-content #guide .guide-window [guide-content] .part {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #guide .guide-window [guide-content] .title {
    font-size: 40px;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #guide .guide-window [guide-content] .content {
    font-size: 30px;
    position: absolute;
    top: 130px;
    left: 100px;
    right: 100px;
    /* text-align: center; */
    /* background-color: red; */
}
.tab-content #guide .guide-window #guide-back-button {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.tab-content #guide .guide-window #guide-next-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.tab-content #guide .guide-window [guide-buttons] {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    background-color: none;
    border: 2px solid white;
}
.tab-content #guide .guide-window [guide-buttons]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #guide .guide-window [guide-buttons]:active {
    background-color: rgb(255, 255, 255, 0.9);
}