body {
    background-color: rgb(230, 230, 230);
    background-image: url(img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.doubleyue-trading-simulator {
    position: relative;
    padding: 10px;
	color: #f4eb49;
    background: #000000;
	border-color: #000000;
    border-width: 1px;
	border-style: solid;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 30px;
	text-align:center;
}

.sidebar {
    width: 170px;
    height: 100%;
    background: #232323;
    /* border-style: solid; */
    display: flex;
    text-align: center;
}

.sidebar-buttons {
    width: 100%;
    text-align: center;
}

.sidebar-buttons ul {
    list-style: none;
}

.sidebar-buttons ul li {
    list-style: none;
}

.sidebar-buttons .tab {
    text-decoration: none;
    display: list-item;
    /* background-color: aliceblue; */
    text-align: center;
    padding: 30px 20px;
    font-size: 20px;
    color:aliceblue;
    border: 2px solid #232323;
}

.sidebar-buttons .tab.active {
    color: #f4eb49;
    background-color: #000000;
    border: 2px solid yellow;
}

.sidebar-buttons .tab.active:hover {
    cursor: default;
}

.sidebar-buttons .tab.unactive:hover { /* cursor over link */
    cursor: pointer;
    background-color: #f4eb49;
    color: red;
    transition: 0.5s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tab-content {
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    left: 300px;
    right: 300px;
    top: 160px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 60px;
    border: 2px solid #00fbff;
} 

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab-content #guide .guide-window .unactive[guide-content] {
    display: none;
}

.tab-content #guide .guide-window .active[guide-content] {
    display: block;
}