body.pending {
    visibility: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(img/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    overflow: hidden;
}

.doubleyue-trading-simulator {
    position: relative;
    padding: 10px;
	color: #f4eb49;
    background: #000000;
	border-color: #000000;
    border-width: 1px;
	border-style: solid;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

/* Sidebar */
.sidebar {
    width: 170px;
    height: 100vh;
    background: #232323;
    /* border-style: solid; */
    display: flex;
    text-align: center;
}
.sidebar-buttons {
    width: 100%;
    text-align: center;
}
.sidebar-buttons ul {
    list-style: none;
}
.sidebar-buttons ul li {
    list-style: none;
}
.sidebar-buttons .tab {
    text-decoration: none;
    display: list-item;
    /* background-color: aliceblue; */
    text-align: center;
    padding: 30px 20px;
    font-size: 20px;
    color:aliceblue;
    border: 2px solid #232323;
}
.sidebar-buttons .tab.active {
    color: #f4eb49;
    background-color: #000000;
    border: 2px solid yellow;
}
.sidebar-buttons .tab.active:hover {
    cursor: default;
}
.sidebar-buttons .tab.unactive:hover { /* cursor over link */
    cursor: pointer;
    background-color: #f4eb49;
    color: red;
    transition: 0.5s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Tab Content */
.tab-content {
    font-size: 40px;
    color: aliceblue;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 300px;
    right: 300px;
    top: 160px;
    bottom: 100px;
    /* background-color: red; */
} 
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}




/* Trade */
.tab-content #trade .trade-window {
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 16px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border: 2px solid #00fbff;
}
.tab-content #trade .trade-window .title {
    /* background-color: red; */
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 30px;
}
.tab-content #trade .trade-window .options-container {
    /* background-color: blue; */
    position: absolute;
    left: 10%;
    right: 10%;
    top: 90px;
    bottom: 10%;
    font-size: 25px;
}
.tab-content #trade .trade-window .options-container [trading-attr] {
    /* background-color: red; */
    margin: 0px 0px 20px 0px;
}
.tab-content #trade .trade-window .options-container [option-box] {
    all: unset;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    position: absolute;
    left: 25%;
    right: 0px;
    padding: 2px 3px;
    margin: 0px;
}
.tab-content #trade .trade-window .options-container [option-box]:hover {
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #trade .trade-window .options-container select[option-box] {
    position: absolute;
    left: 25%;
    right: 0px;
    border: 2px solid white;
}
.tab-content #trade .trade-window .options-container select[option-box]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #trade .trade-window .options-container ::placeholder {
    color: #a7a7a7;
}
.tab-content #trade .trade-window #confirm-order-button {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.tab-content #trade .trade-window #view-chart-button {
    position: absolute;
    left: 10%;
    bottom: 10%;
}
.tab-content #trade .trade-window .trade-window-buttons {
    text-align: center;
    font-size: 25px;
    border: 2px solid white;
    padding: 3px 8px;
}
.tab-content #trade .trade-window .trade-window-buttons:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #trade .trade-window .trade-window-buttons:active {
    background-color: rgb(255, 255, 255, 0.9);
}


/* Settings */
.tab-content #settings .settings-section {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: -100px;
    right: -220px;
    top: -80px;
    bottom: -100px;
}

.tab-content #settings .settings-section .headings {
    /* background-color: #00fbff; */
    border-bottom: 2px solid white;
    display: flex;
    position: absolute;
    width: 100%;
    height: 47px;
    top: 0px;
}

.tab-content #settings .settings-section .headings .change-password-headings {
    /* background-color: red; */
    position: absolute;
    left: 170px;
    display: flex;
    gap: 8px;
}
.tab-content #settings .settings-section .headings .change-password-headings #icon-arrow {
    /* background-color: red; */
    position: relative;
    bottom: -1px;
}
.tab-content #settings .settings-section .headings .unactive {
    display: none;
}

.tab-content #settings .settings-section .headings #icon-settings {
    font-size: 28px;
    /* background-color: red; */
    position: absolute;
    height: 40px;
    top: 0px;
}
.tab-content #settings .settings-section .headings #title-settings {
    position: absolute;
    left: 30px;
    height: 100%;
    bottom: 0px;
}

.tab-content #settings .settings-section .content .unactive {
    display: none;
}
.tab-content #settings .settings-section .content .default-page [buttons] {
    /* background-color: red; */
    position: absolute;
    left: 0px;
    right: 40px;
    border: 2px solid white;
    background-color: #000000;
    padding: 5px;
    font-size: 30px;
}
.tab-content #settings .settings-section .content [buttons]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #settings .settings-section .content [buttons]:active {
    background-color: rgb(255, 255, 255, 0.9);
}
.tab-content #settings .settings-section .content #change-password-button {
    top: 60px;
}
.tab-content #settings .settings-section .content #logout-button {
    top: 110px;
    color: red;
    border: 2px solid red;
    display: flex;
}
.tab-content #settings .settings-section .content #logout-button [icon] {
    position: absolute;
    left: 100px;
}
/* Settings - ChangePassword */
.tab-content #settings .settings-section .content .change-password-page .password-inputs {
    /* background-color: red; */
    display: block;
    position: absolute;
    top: 80px;
    right: 40px;
    left: 0px;
    text-align: right;
    font-size: 30px;
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input {
    all: unset;
    background-color: #000000;
    width: 70%;
    border: 2px solid white;
    text-align: left;
    padding: 0px 10px;
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input:hover {
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #settings .settings-section .content .change-password-page .password-inputs input::placeholder {
    color: #a7a7a7;
    position: absolute;
}

#change-password-page-back-button {
    position: absolute;
    bottom: 120px;
    border: 2px solid white;
    padding: 0px 10px;
}
#change-password-page-confirm-changes-button {
    position: absolute;
    bottom: 120px;
    right: 0px;
    border: 2px solid white;
    padding: 0px 10px;
}


/* Guide */
.tab-content #guide {
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 16px;
    bottom: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border: 2px solid #00fbff;
} 
.tab-content #guide .guide-window .unactive[guide-content] {
    display: none;
}
.tab-content #guide .guide-window .active[guide-content] {
    display: block;
}
.tab-content #guide .guide-window [guide-content] .part {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #guide .guide-window [guide-content] .title {
    font-size: 40px;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* background-color: red; */
}
.tab-content #guide .guide-window [guide-content] .content {
    font-size: 30px;
    position: absolute;
    top: 130px;
    left: 100px;
    right: 100px;
    /* text-align: center; */
    /* background-color: red; */
}
.tab-content #guide .guide-window #guide-back-button {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.tab-content #guide .guide-window #guide-next-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.tab-content #guide .guide-window [guide-buttons] {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    background-color: none;
    border: 2px solid white;
}
.tab-content #guide .guide-window [guide-buttons]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
}
.tab-content #guide .guide-window [guide-buttons]:active {
    background-color: rgb(255, 255, 255, 0.9);
}

